@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

/* BASIC */
body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #393939;
}

.container {
    max-width: 1310px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.hide {
    display: none;
}

.subaru__technology, .informational__portal, .festival__invasion, .photo__bank {
    background: #F7F8F8;
}
/* Header */
.header {
    padding-top: 48px;
}
.header__nav {
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.5px;
    color: #B0B0B0;
    text-align: right;
    text-decoration: underline;
    padding: 17px 0;
}
.header__lng {
    font-size: 16px;
    letter-spacing: 0.3px;
    color: #393939;
    text-align: right;
    display: none;
}
.header__hero {
    display: flex;
    margin-top: 115px;
}
.header__hero-text {
    width: 630px;
}
.header__hero-title {
    font-size: 40px;
    line-height: 1.4;
    letter-spacing: 0.3px;
    margin-bottom: 45px;
    margin-top: 116px;
}
.btn {
    display: block;
    width: 240px;
    background: #FF3300;
    border-radius: 8px;
    padding: 18px 55px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.3px;
    color: #FFFFFF;
    transition: all .5s ease-in-out;
}
.btn:hover {
    background: #c43511;
}
.header__hero-background {
    background: url(../img/header_bg.jpg);
    width: 715px;
    height: 470px;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
}

/* Services Cards */
.services__cards {
    padding-top: 155px;
    padding-bottom: 135px;
}
.services__cards-title {
    font-weight: 900;
    font-size: 40px;
    line-height: 1.1;
    letter-spacing: 0.3px;
    margin-bottom: 60px;
}
.services__cards-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.services__card {
    width: 400px;
    height: 380px;
    padding: 32px 48px 0 48px;
    background: #F7F8F8;
    border-radius: 8px;
    box-shadow: 0px 10px 16px rgba(113, 113, 113, 0.160976);
    margin-left: 40px;
}
.services__card:first-child {
    margin-left: 0;
}
.services__card-img {
    display: block;
    width: 36px;
    height: 31px;
    object-fit: contain;
}
.services__card-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.1;
    letter-spacing: 0.625px;
    margin-top: 35px;
    margin-bottom: 15px;
}
.services__card-text {
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.3px;
}

/* Completed projects */
.completed__projects-title {
    font-weight: 900;
    font-size: 40px;
    line-height: 1.2;
    letter-spacing: 0.3px;
    margin-bottom: 55px;
}

/* Completed projects - Basic - UFAIS */
.unified-automated-system {
    background-image: linear-gradient(transparent 10%,  #F7F8F8 10%);
}
.section__basic {
    padding-bottom: 95px;
}
.section__basic-wrapper {
    display: flex;
    justify-content: space-between;
}
.section__basic-screen {
    width: 840px;
    height: 460px;
    background: #393939;
    box-shadow: 0px 21px 32px rgba(0, 0, 0, 0.237325);
    border-radius: 16px;
    padding: 16px;
}
.section__basic-screen::before {
    content: "";
    display: block;
    width: 808px;
    height: 428px;
    background: #D8D8D8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
}
.section__basic-text {
    width: 415px;
}
.section__basic-frontend {
    display: inline-block;
    width: 80px;
    background: #199BC0;
    border-radius: 4px;
    padding: 5px 17px;
    font-size: 12px;
    line-height: 1.1;
    letter-spacing: 0.09px;
    color: #FFFFFF;
    margin-bottom: 63px;
}
.section__basic-title { 
    font-weight: 700;
    font-size: 24px;
    line-height: 1.1;
    letter-spacing: 0.214286px;
    margin-bottom: 12px;
}
.section__basic-subtitle {
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.142857px;
    width: 400px;
    margin-bottom: 19px;
}
.section__basic-icon {
    display: block;
    width: 15px;
    height: 16px;
    margin-bottom: 205px;
}
.section__basic-suptitle {
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.142857px;
    margin-bottom: 5px;
}
.section__basic-msk {
    font-size: 12px;
    line-height: 1.2;
    letter-spacing: 0.107143px;
    color: rgba(57, 57, 57, 0.404201);
}

/* Completed projects - Subaru Technology */
.section__basic-backend {
    background: #006480;
    margin-left: 16px;
}
.section__basic-design {
    padding: 5px 21px;
    background: #FF3300;
    margin-left: 16px;
}

.subaru__technology .section__basic-subtitle {
    margin-bottom: 220px;
}

/* Completed projects - Informational portal*/
.informational__portal .section__basic-subtitle {
    width: 415px;
}
.informational__portal .section__basic-icon {
    margin-bottom: 225px;
}

/* Completed projects - Festival Invasion*/
.festival__invasion .section__basic-subtitle {
    margin-bottom: 240px;
}

/* Completed projects - Photo bank*/
.photo__bank .section__basic-subtitle {
    width: 415px;
}

/* Completed projects - Support site*/
.support__site {
    background-image: linear-gradient(#F7F8F8 70%, transparent 70%);
}
.support__site .section__basic-subtitle {
    margin-bottom: 240px;
}

/* Company Information*/
.company__information {
    padding-bottom: 175px;
}

.company__information-text {
    width: 958px;
    margin-left: auto;
    margin-right: auto;

    font-style: italic;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.5px;

    height: 145px;
    padding-top: 40px;

    position: relative;
}

.company__information-text::before {
    content: " ";
    display: block;
    width: 100px;
    height: 88px;
    background: url(../img/comment.svg);
    background-repeat: no-repeat;
    background-position: 0 0;

    position: absolute;
    top: 0px;
    left: 20px;
    z-index: -1;
}

/* Application Form */
.application__form {
    padding-bottom: 95px;
}
.application__form-title {
    font-weight: 700;
    font-size: 40px;
    line-height: 1.2;
    letter-spacing: 0.357143px;
    margin-bottom: 45px;
}
.application__form-wrap {
    display: flex;
    align-items: center;
    margin-bottom: 25px;

    position: relative;
}
.application__form-infotext {
    font-size: 24px;
    line-height: 1.1;
    letter-spacing: 0.214286px;
    color: #717171;
}
.application__form-input {
    display: block;
    width: 250px;
    padding: 3px 15px;
    border: 1px solid #717171;
    border-radius: 5px;
    margin-left: 10px;
    font-size: 16px;
}
.application__form-name {
    width: 350px;
}
.form__btn {
    display: block;
    width: 190px;
    padding: 10px 17px;
    background: #F7F8F8;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.110085);
    border-radius: 4px;
    margin-left: 20px;

    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.142857px;
}

.form__btn-mobil {
    width: 225px;
    border: 1px solid #3666FF;
}
.form__btn-website {
    width: 75px;
    color: #FFFFFF;
    background: #3666FF;
}
.form__btn-design {
    width: 89px;
}
.form__btn-devel {
    width: 116px;
}
.form__btn-src {
    width: 230px;
}
.path {
    position: absolute;
    top: 5px;
    left: 153px;
}
.input__file {
    display: none;
}
label {
    color: #3666FF;
    cursor: pointer;
}
.privacy {
    width: 570px;
    margin-left: 23px;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.142857px;
    color: #717171;
}

/* Footer */
.footer {
    padding: 55px 0;
    background: #F7F8F8;
}
.footer-wrap {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.footer_link-tell, .footer__link-mail {
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.142857px;
    color: #393939;
}
.footer__link-mail {
    margin-left: 40px;
    
}
.footer__icon {
    margin-left: 105px;
    display: inline-block;
    width: 32px;
    height: 32px;
    position: relative;
}
.footer__icon::before {
    display: inline-block;
    content: "";
    width: 32px;
    height: 32px;
    background: #B0B0B0;
    border-radius: 50%;

    position: absolute;
    top: 0;
    right: 60px;
}

/* RESPONSIVE */

@media (max-width:1024px) {
    .container {
        max-width: 1000px;
        width: 100%;
        margin: 0 auto;
        padding: 0 15px;
    }
    .header__hero-background {
        display: none;
    }
    .header__hero-title {
        font-size: 32px;
        width: 512px;
        margin-bottom: 35px;
    }
    .services__cards {
        padding: 145px 0;
    }
    .services__cards-title {
        margin-bottom: 54px;
    }
    .services__card {
        width: 295px;
        height: 425px;
        padding: 31px 31px 0 31px;
        margin-top: 24px;
        margin-bottom: 14px;
    }
    .section__basic-screen {
        width: 588px;
        height: 322px;
        padding: 11px 11px;
    }
    .section__basic-screen::before {
        width: 566px;
        height: 300px;
    }
    .section__basic-text {
        width: 350px;
    }
    .section__basic-frontend {
        margin-bottom: 58px;
    }
    .section__basic-subtitle {
        width: 320px;
        margin-bottom: 87px;
    }
    .section__basic-icon {
        display: none;
    }
    .subaru__technology .section__basic-subtitle {
        margin-bottom: 68px;
    }
    .informational__portal .section__basic-subtitle {
        width: 315px;
        margin-bottom: 107px;
    }
    .festival__invasion .section__basic-subtitle {
        margin-bottom: 107px;
    }
    .photo__bank .section__basic-subtitle {
        width: 320px;
        margin-bottom: 88px;
    }
    .support__site .section__basic-title {
        width: 330px;
    }
    .support__site .section__basic-subtitle {
        margin-bottom: 80px;
    }
    .company__information-text {
        width: 620px;
        height: 185px;
    }
    .company__information {
        padding-bottom: 135px;
    }
    .support__site {
        background-image: linear-gradient(#F7F8F8 60%, transparent 60%);
    }
}

@media (max-width:414px) {
    .container {
        max-width: 400px;
        width: 100%;
        margin: 0 auto;
        padding: 0 10px;
    }
    .header {
        padding-top: 20px;
        position: relative;
    }
    .header::before {
        content: "";
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.72) 0%, #FFFFFF 100%), url(../img/bg_responsive.jpg);
        background-repeat: no-repeat;
        background-position: 50% 50%;
        position: absolute;
        top: 45px;
        right: 0;
        z-index: -1;
        width: 414px;
        height: 845px;
        /* opacity: 0.1; */
    }
    .header__nav {
        display: none;
    }
    .header__lng {
        display: block;
        position: relative;
    }
    .header__lng::before {
        content: "";
        display: block;
        width: 22px;
        height: 23px;
        background-image: url(../img/globe_lng.svg);
        position: absolute;
        top: -5px;
        right: 30px;
    }
    .header__hero-title {
        width: 380px;
        font-size: 24px;
        margin-top: 450px;
        margin-bottom: 32px;
    }
    .services__cards {
       padding: 80px 0;
    }
    .services__cards-title {
        font-size: 32px;
        margin-bottom: 40px;
    }
    .services__cards-wrapper {
        gap: 45px;
    }
    .services__card {
        width: 382px;
        height: 348px;
        margin-left: 0;
        margin-top: 0;
        margin-bottom: 0;
    }
    .completed__projects-title {
        font-size: 32px;
    }
    .completed__projects-title {
        margin-bottom: 40px;
    }
    .section__basic {
        padding-bottom: 90px;
    }
    .section__basic-wrapper {
      flex-direction: column;
    }
    .section__basic-screen {
        width: 382px;
        height: 210px;
        padding: 8px;
        margin-bottom: 30px;
    }
    .section__basic-screen::before {
        width: 366px;
        height: 194px;
    }
    .section__basic-frontend {
        width: 64px;
        padding: 5px 16px;
        font-size: 8px;
        margin-bottom: 30px;
    }
    .section__basic-subtitle {
        width: 385px;
        margin-bottom: 30px;
    }
    .section__basic-suptitle {
        font-size: 12px;
        margin-bottom: 2px;
    }
    .section__basic-msk {
        font-size: 9px;
    }
    .subaru__technology .section__basic-wrapper {
        flex-direction: column-reverse;
    }
    .section__basic-design {
        padding: 5px 18px;
    }
    .subaru__technology .section__basic-subtitle {
        width: 305px;
        margin-bottom: 30px;
    }
    .informational__portal .section__basic-subtitle {
        width: 305px;
        margin-bottom: 30px;
    }
    .festival__invasion .section__basic-wrapper {
        flex-direction: column-reverse;
    }
    .festival__invasion .section__basic-subtitle {
        width: 305px;
        margin-bottom: 30px;
    }
    .photo__bank .section__basic-subtitle {
        margin-bottom: 30px;
    }
    .support__site .section__basic-wrapper {
        flex-direction: column-reverse;
    }
    .support__site .section__basic-subtitle {
        width: 340px;
        margin-bottom: 30px;
    }
    .company__information {
        padding-bottom: 80px;
    }
    .company__information-text {
        width: 382px;
        height: 100%;
    }
    .company__information-text::before {
        left: -10px;
    }
    .application__form-title {
        font-size: 24px;
        margin-bottom: 27px;
    }
    .application__form-wrap {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 17px;
    }
    .application__form-input,  .application__form-name  {
        margin-left: 0;
        border: 1px solid #717171;
        font-size: 14px;
    }
    .application__form-infotext {
        font-size: 14px;
        margin-bottom: 5px;
    }
    .application__form-name {
        width: 300px;
    }
    .form__btn {
        margin-left: 0;
        margin-bottom: 15px;
    }
    .form__btn-website {
        position: absolute;
        top: 33px;
        right: 95px;
    }
    .form__btn-mobil {
        width: 220px;
        padding: 10px 15px;
        margin-bottom: 0;
    }
    .btn-devel1 {
        position: absolute;
        top: 33px;
        right: 155px;
    }
    .btn-devel2 {
        position: absolute;
        top: 33px;
        right: 20px;
    }
    .btn-devel3 {
        position: absolute;
        top: 87px;
        right: 20px;
        margin-bottom: 0;
    }
    .btn-devel4 {
        margin-bottom: 0;
    }
    .btn {
        width: 200px;
        padding: 18px 30px;
        text-align: center;
    }
    .application__form-wrap {
        flex-direction: column;
        position: relative;
    }
    .privacy {
        width: 220px;
        margin-left: 0;
        margin-top: 12px;
        font-size: 9px;
    }
    .path {
        position: absolute;
        top: 6px;
        left: 95px;

        display: block;
        width: 15px;
        height: 16px;
    }
    .application__form-infotext {
        width: 250px;
        line-height: 2;
    }
    .form__span {
        margin-left: 12px;
    }
    .application__form {
        padding-bottom: 70px;
    }
    .footer {
        padding: 20px 0;
    }
    .footer-wrap {
        flex-direction: column;
        align-items: flex-end;
       
    }
    .footer_link-tell, .footer__link-mail {
       font-size: 14px;
    }
    .footer__link-mail {
        margin-left: 0;
        order: 2;
    }
    .footer_link-tell {
        order: 1;
        margin-bottom: 8px;
    }
    .footer__icon {
        margin-bottom: 20px;
    }
}   

@media (max-width:320px) {
    .container {
        max-width: 310px;
        width: 100%;
        margin: 0 auto;
        padding: 0 5px;
    }
    .header__hero-title {
        width: 275px;
        font-size: 20px;
        margin-top: 235px;
        margin-bottom: 20px;
    }
    .btn {
        text-align: center;
    }
    .header::before {
        width: 320px;
        height: 568px;
        top: 80px;
        background-position: top center;
        background-size: cover;
    }
    .services__cards-title {
        margin-bottom: 35px;
    }
    .services__card {
        width: 305px;
        height: 100%;
        padding: 32px 31px 43px 31px;
    }
    .services__card-title {
        margin-top: 24px;
        margin-bottom: 14px;
    }
    .services__cards-wrapper {
        gap: 40px;
    }
    .services__cards-title {
        font-size: 24px;
    }
    .completed__projects-title {
        font-size: 24px;
        margin-bottom: 30px;
    }
    .section__basic {
        padding-bottom: 60px;
    }
    .section__basic-screen {
        width: 290px;
        height: 160px;
        padding: 7px;
    }
    .section__basic-screen::before {
        width: 276px;
        height: 146px;
    }
    .section__basic-subtitle, .subaru__technology .section__basic-subtitle,
    .informational__portal .section__basic-subtitle, 
    .festival__invasion .section__basic-subtitle, .photo__bank .section__basic-subtitle,
    .support__site .section__basic-subtitle, .company__information-text {
        width: 300px;
    }
    .support__site {
        background-image: linear-gradient(#F7F8F8 90%, transparent 90%);
    }
    .application__form-name {
        width: 280px;
    }
    .form__btn-website {
        position: static;
        margin-bottom: 0;
    }
    .form__btn-mobil {
        margin-bottom: 15px;
    }
    .btn-devel1 {
        position: static;
    }
    .btn-devel2 {
        right: 75px;
    }
    .btn-devel3 {
        right: 50px;
    }
}
/* END */